.Footer {
  
}
.Footer__social {

}
.FooterNote {
  padding: 50px;
  background-color: #f5f5f5;
}
.FooterNote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0px auto;
}
.FooterNote__note {
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.35px;
  line-height: 22px;
  margin-left: 300px;
}

.FooterNote__line {
  
}
.FooterNote__links {
  margin-top: 15px;
}
.FooterNote__links > a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 0px 5px;
  margin: 0px 5px;
}
.FooterNote__links > a:first-child {
  padding-left: 0px;
  margin-left: 0px;
}

.FooterLinks {
  padding: 100px 50px 50px 50px;
  background-color: #f5f5f5;
}
.FooterLinks__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0px auto;
}
.FooterLinks__column {
  padding: 0px 50px;
}
.FooterLinks__logo {
  width: 250px;
}
.FooterLinks__column__logo {
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  background-image: url('../../../static/willsquad-w-logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 0.25;
}
.FooterLinks__column__link {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  /* text-align: center; */
  letter-spacing: 0.5px;
  line-height: 28px;
}
.FooterLinks__column__link--head {
  color: #de352b;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
