.ServiceTitle {
  margin-bottom: 25px;
}
.ServiceTitle__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.ServiceTitle__text__title {
  position: relative;
  color: #b95527;
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-family: 'Marcellus', serif;
  font-weight: 300;
  text-shadow: 0px 0px 0.1px #b95527; 
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 3px;
  word-spacing: 5px;
}
.ServiceTitle__text__shadow {
  display: none;
  position: absolute;
  color: #795548;
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 3px;
  word-spacing: 5px;
  transform: scale(2);
  opacity: 0.1;
}
