.WebServiceSectionFeatures {
  display: flex;
  flex-wrap: wrap;
}
.WebServiceSectionFeatures__item {
  flex-basis: calc(50% - 50px);
  padding: 25px;
}
.WebServiceSectionFeatures__item__title {

}
.WebServiceSectionFeatures__item__description {

}
