.WebServiceSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.WebServiceSection__image {
  flex-basis: calc(40% - 25px);
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #888;
}
.WebServiceSection__content {
  flex-basis: 60%;
  position: relative;
  width: 100%;
  height: 500px;
  background-color: transparent;
}
