.PopularBrowsers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
}
.PopularBrowsers__item {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}
.PopularBrowsers__item:not(:first-child) {
  margin-left: 20px;
}
.PopularBrowsers__item[data-browser="chrome"] {
  background-image: url('../../../../../static/third-party-logos/browsers/chrome-logo.png');
}
.PopularBrowsers__item[data-browser="firefox"] {
  background-image: url('../../../../../static/third-party-logos/browsers/firefox-logo.png');
}
.PopularBrowsers__item[data-browser="safari"] {
  background-image: url('../../../../../static/third-party-logos/browsers/safari-logo.png');
}
.PopularBrowsers__item[data-browser="edge"] {
  background-image: url('../../../../../static/third-party-logos/browsers/edge-logo.png');
}
.PopularBrowsers__item[data-browser="opera"] {
  background-image: url('../../../../../static/third-party-logos/browsers/opera-logo.png');
}


@media only screen and (max-width: 640px) {
  .PopularBrowsers__item {
    width: 35px;
    height: 35px;
  }
  .PopularBrowsers__item:not(:first-child) {
    margin-left: 15px;
  }
}