.LandingServicesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.LandingServicesSection__summary {
  margin-bottom: 50px;
}
.LandingServicesSection__content {
  display: flex;
  margin: 0px -10px;
}

.LandingServicesSection--right {
  align-items: flex-end;
  margin-left: auto;
}

.LandingServicesSection__bg {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}