.MainServices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -35px;
}
.MainServices__item {
  position: relative;
  width: calc((100% / 3) - 20px);
  min-width: 300px;
  box-shadow: 0px 0px 0px 0px transparent;
  background-color: transparent;
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;
}
.MainServices__item:hover {
  box-shadow: 0px 0px 0px 30px #f3f3f3;
  background-color: #f3f3f3;
  transition: box-shadow 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;
}
.MainServices__item__content {
  position: relative;
  padding: 35px;
}

.MainServices__item__icon {
  position: relative;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.75;
  margin: 0px -20px 15px 0px;
  transition: all 0.25s ease-in-out 0s;
}
.MainServices__item[data-id="websites"] .MainServices__item__icon {
  background-image: url('../../static/websites-icon.png');
}
.MainServices__item[data-id="apps"] .MainServices__item__icon {
  width: 90px;
  background-image: url('../../static/apps-icon.png');
}
.MainServices__item[data-id="branding"] .MainServices__item__icon {
  width: 65px;
  background-image: url('../../static/branding-icon.png');
}
.MainServices__item:hover .MainServices__item__icon {
  opacity: 0.75;
}
.MainServices__item__text {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.MainServices__item__name {
  color: #D93636;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.MainServices__item__description {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 0.25px;
  line-height: 28px;
}
.MainServices__item__button {
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15px;
  word-spacing: 0.15px;
  padding: 10px 20px;
  margin: 15px 0px 0px 0px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: color 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;
}
.MainServices__item:hover .MainServices__item__button {
  color: #fff;
  background-color: #a1887f;
}



