.SectionSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 50px;
}
.SectionSummary[data-align="center"] {
  align-items: center;
  text-align: center;
}
.SectionSummary[data-align="right"] {
  align-items: flex-end;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .SectionSummary {
    padding: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .SectionSummary[data-align="center"] {
    align-items: flex-start;
    text-align: left;
  }
}

