.Contact {
  position: relative;
  margin-top: -100px;
}
.Contact__cover {
  position: relative;
  height: 500px;
  min-height: 360px;
  max-height: calc(100vh - 170px);
}
.Contact__cover__dark-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.65;
}
.Contact__cover__image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background-image: url('../../static/cover/adult-asian-bar-323503.jpg');
  background-image: url('../../static/cover/adult-beautiful-blond-879143.jpg'); */
  background-image: url('../../static/cover/businesswoman-call-career-789822.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
}

.Contact__page-info {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 300px;
  margin-top: -300px;
}
.Contact__page-info__content {
  padding: 0px 0px 50px 0px;
}
.Contact__page-info__title {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  line-height: 72px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.Contact__page-info__description {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  margin-top: 15px;
  opacity: 0.75;
}

.Contact__info {
  padding: 20px 100px;
  background-color: #f3f3f3;
}
.Contact__form {
  padding: 75px 100px;
}
