.PricingTypes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.PricingTypes__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc((100% / 2) - 25px);
  max-width: 480px;
  min-height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.PricingTypes__item:not(:first-child) {
  margin-left: 50px;
}
.PricingTypes__item[data-type="premium"] {
  background-color: #fff;
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.25),
    0px 5px 10px -5px rgba(0, 0, 0, 0.25);
}

.PricingTypes__item__summary {
  padding: 35px 35px 0px 35px;
}
.PricingTypes__item__name {
  color: #a06752;
  color: #000;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 0px 0px 25px 0px;
}
.PricingTypes__item__description {
  color: #000;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.75px;
  word-spacing: 0.75px;
  margin: 0px auto;
}

.PricingTypes__item__action {
  padding: 30px 35px 35px 35px;
}
.PricingTypes__item__action__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: 50px;
  color: #000;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.75px;
  word-spacing: 1px;
  border-radius: 25px;
  margin: 0px auto;
  box-shadow: inset 0px 0px 0px 2px transparent;
  background-color: transparent;
  opacity: 1.0;
  cursor: pointer;
  transition: all 0.15s linear 0s;
}

.PricingTypes__item[data-type="premium"] .PricingTypes__item__action__button {
  color: #fff;
  background-color: rgba(217, 54, 54, 0.9);
}
.PricingTypes__item[data-type="premium"] .PricingTypes__item__action__button:hover {
  color: #000;
  background-color: #ffc000;
  color: #d93636;
  box-shadow: inset 0px 0px 0px 2px #d93636;
  background-color: transparent;
}

.PricingTypes__item:not([data-type="premium"]) .PricingTypes__item__action__button {
  box-shadow: inset 0px 0px 0px 2px #000;
  background-color: transparent;
}
.PricingTypes__item:not([data-type="premium"]) .PricingTypes__item__action__button:hover {
  color: #d93636;
  box-shadow: inset 0px 0px 0px 2px #d93636;
  background-color: transparent;
}
