.MainServicesItem {
  position: relative;
  width: calc(100% / 3);
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px transparent;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.25s ease-in-out 0s;
}
.MainServicesItem:hover {
  background-color: #f3f3f3;
  transition: background-color 0.25s ease-in-out 0s;
}
.MainServicesItem__content {
  position: relative;
  padding: 50px;
}

.MainServicesItem__icon {
  position: relative;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.75;
  margin: 0px -20px 15px 0px;
  transition: all 0.25s ease-in-out 0s;
}
.MainServicesItem[data-id="websites"] .MainServicesItem__icon {
  background-image: url('../../../../static/websites-icon.png');
}
.MainServicesItem[data-id="apps"] .MainServicesItem__icon {
  width: 90px;
  background-image: url('../../../../static/apps-icon.png');
}
.MainServicesItem[data-id="branding"] .MainServicesItem__icon {
  width: 65px;
  background-image: url('../../../../static/branding-icon.png');
}
.MainServicesItem:hover .MainServicesItem__icon {
  opacity: 0.75;
}

.MainServicesItem__text {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.MainServicesItem__name {
  color: #D93636;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.MainServicesItem__description {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  line-height: 26px;
}
