.Landing {
  position: relative;
  margin-top: -100px;
  background-color: #ffffff;
}

.Landing__mainservices {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.025);
}
