.SectionTitle {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1200px) {
  .SectionTitle {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: 20px;
  }
}
