.Input {
  display: flex;
  flex-basis: 100%;
  position: relative;
  margin: 15px 10px;
  cursor: text;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  transition: box-shadow 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s,
    padding 0.25s ease-in-out 0s;
}
.Input[data-focused="true"] {
  box-shadow: inset 0px 0px 0px 2px #ffc107;
  box-shadow: inset 0px 0px 0px 2px #2196F3;
  background-color: #ffffff;
}

.Input__placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  transition: height 0.25s ease-in-out 0s;
}
.Input__placeholder > .text {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 0px 13px;
  margin-left: 2px;
  opacity: 1;
  background-color: #ffffff;
  transition: opacity 0.25s ease-in-out 0s,
    font 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s,
    padding 0.25s ease-in-out 0s,
    margin 0.25s ease-in-out 0s;
}

.Input__input {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  position: relative;
}
.Input__input > input[type="text"],
.Input__input > input[type="tel"],
.Input__input > input[type="email"],
.Input__input > textarea {
  position: relative;
  width: calc(100% - 30px);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
  padding: 20px 15px 12px 15px;
  outline: 0px;
  border: 0px;
  border-radius: 3px;
  background-color: transparent;
  opacity: 0.65;
  transition: opacity 0.15s ease-in-out 0s;
}
.Input__input > textarea {
  min-height: 100px;
  resize: vertical;
}
.Input[data-filled="true"] .Input__input > input[type="text"],
.Input[data-filled="true"] .Input__input > input[type="tel"],
.Input[data-filled="true"] .Input__input > input[type="email"],
.Input[data-filled="true"] .Input__input > textarea {
  opacity: 1.0;
  font-weight: 400;
}
