.CrossPlatform {
  padding: 50px 0px;
}
.CrossPlatform__title {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin: 0px 0px 20px 0px;
}
.CrossPlatform__subtitle {
  max-width: 680px;
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 0px auto 50px auto;
}

.CrossPlatform__platforms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}