.CrossBrowser {
  padding: 50px 0px;
}
.CrossBrowser__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555555+0,000000+100&1+0,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(85,85,85,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(85,85,85,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(85,85,85,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity: 0.25;
}
.CrossBrowser__content {
  position: relative;
  flex-basis: 50%;
  margin-left: 250px;
}
.CrossBrowser__bgimage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('./images/browsers.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
.CrossBrowser__image > img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {



}
