.CrossBrowser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.CrossBrowser__title {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin: 0px 0px 25px 0px;
}
.CrossBrowser__subtitle {
  max-width: 480px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 0px auto 50px auto;
}

.CrossBrowser__browsers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.CrossBrowser__browsers__item {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}
.CrossBrowser__browsers__item:not(:first-child) {
  margin-left: 20px;
}
.CrossBrowser__browsers__item[data-browser="chrome"] {
  background-image: url('../../../static/third-party-logos/browsers/chrome-logo.png');
}
.CrossBrowser__browsers__item[data-browser="firefox"] {
  background-image: url('../../../static/third-party-logos/browsers/firefox-logo.png');
}
.CrossBrowser__browsers__item[data-browser="safari"] {
  background-image: url('../../../static/third-party-logos/browsers/safari-logo.png');
}
.CrossBrowser__browsers__item[data-browser="edge"] {
  background-image: url('../../../static/third-party-logos/browsers/edge-logo.png');
}
.CrossBrowser__browsers__item[data-browser="opera"] {
  background-image: url('../../../static/third-party-logos/browsers/opera-logo.png');
}
