.ContactInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -35px;
}

.ContactInfo__item {
  position: relative;
  width: calc((100% / 3) - 20px);
  min-width: 300px;
  box-shadow: 0px -20px 0px 0px transparent;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.25s ease-in-out 0s,
    box-shadow 0.25s ease-in-out 0s;
}
.ContactInfo__item:not(:first-child) {
  margin-left: 20px;
}
.ContactInfo__item:hover {
  box-shadow: 0px 0px 0px 20px #fff;
  background-color: #fff;
  transition: box-shadow 0.25s ease-in-out 0s,
    background-color 0.25s ease-in-out 0s;
  z-index: 1;
}

.ContactInfo__item a {
  text-decoration: none;
}
.ContactInfo__item__content {
  display: flex;
  align-items: center;
  position: relative;
  height: 125px;
  padding: 0px 35px;
}
.ContactInfo__item__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0px 20px 0px 0px;
  filter: grayscale(0);
  transition: all 0.25s ease-in-out 0s;
}
.ContactInfo__item:hover .ContactInfo__item__icon {
  filter: grayscale(1.0);
}
.ContactInfo__item[data-id="call"] .ContactInfo__item__icon {
  background-image: url('../../static/call-icon.png');
  background-size: 90% auto;
}
.ContactInfo__item[data-id="email"] .ContactInfo__item__icon {
  background-image: url('../../static/email-icon.png');
}
.ContactInfo__item[data-id="chat"] .ContactInfo__item__icon {
  background-image: url('../../static/chat-icon.png');
}
.ContactInfo__item__text {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.ContactInfo__item__name {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.ContactInfo__item__description {
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1.0);
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  letter-spacing: 0.75px;
  word-spacing: 0.25px;
  line-height: 24px;
  transition: color 0.25s ease-in-out 0s;
}
.ContactInfo__item:hover .ContactInfo__item__description {
  color: #bf1e1e;
}
.ContactInfo__item__description > .line {
  width: 0px;
  height: 2px;
  background-color: #000;
  margin-top: 3px;
  opacity: 0;
  transition: background-color 0.25s ease-in-out 0s,
    width 0.5s ease-in-out 0.5s,
    opacity 0.5s ease-in-out 0s;
}
.ContactInfo__item:hover .ContactInfo__item__description > .line {
  width: 100%;
  background-color: #bf1e1e;
  opacity: 1.0;
  transition: background-color 0.25s ease-in-out 0s,
    width 0.5s ease-in-out 0s,
    opacity 0.5s ease-in-out 0s;
}
