.MobileFriendly {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0px;
}
.MobileFriendly__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&1+0,0+70 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(77,77,77,0) 70%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(77,77,77,0) 70%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(77,77,77,0) 70%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.MobileFriendly__content {
  position: relative;
  margin-left: 100px;
}

@media only screen and (max-width: 1200px) {
  .MobileFriendly {
    flex-direction: column;
  }
  .MobileFriendly__content {
    margin-left: 0px;
  }
  .MobileFriendly__content > .SectionSummary[data-align="left"] {
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .MobileFriendly > .MockupPhone {
    transform: scale(0.75);
  }
  .MobileFriendly__content .SectionSummary[data-align="left"] {
    align-items: flex-start;
    text-align: left;
  }
}
